
@font-face {
    font-family: 'wc_mano_negra_btabold';
    src: url('../fonts/wcmanonegraboldbta-webfont-webfont.woff2') format('woff2'),
         url('../fonts/wcmanonegraboldbta-webfont-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}